<!DOCTYPE html>
<html>
<head>
  <title>Realtime Fracas | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1> Realtime Fracas | <%= @title %> </h1>
<p>Realtime Failure Reporting, Analysis and Corrective Actioin Systems<p>


<%= yield %>

</body>
</html>
